* {
    font-family: Helvetica,sans-serif;
}

.landing-main-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landing-main-info a {
    color: brown;
}

#work-cite-link {
    color: chocolate;
}

.landing-page-header {
    font-family: 'Times New Roman',Helvetica,sans-serif;
    font-weight: 700;
    font-size: 105px;
}

.landing-page-links {
    line-height: 35px;
}

img {
    width: auto;
    height: 350px;
}

.recipe-image {
    display: flex;
    justify-content: center;
}

.recipe-description {
    color: rgb(16, 16, 16);
}


h1,
h2 {
    color: white;
    background-color: brown;
}

h2 {
    line-height: 20px;
}